
#toc {
  width: 450px;
  /* height = window.innerHeight - margins (in JS) */
  position: fixed;
  overflow-y: scroll;
  margin: 30px;
  color: #666;
  box-sizing: border-box;
  border: 1px solid #E3DFC3;
  box-shadow: 0 0 30px 6px #E3DFC5, inset 0 0 10px 0 #E3DFC5;
}

#toc .books {
  margin: 0 10px;
  padding-bottom: 30px;
}

#toc h2 {
  text-align: center;
}

#toc h3 {
  margin: 10px;
}

#toc h4 {
  margin: 10px 20px 5px;
  font-style: italic;
}

#toc .book {
  margin-left: 20px;
  position: relative;
}
#toc .book:hover {
  text-decoration: underline;
  cursor: pointer;
}

#toc .book .chapters {
  display: none;
  position: absolute;
  left: 90px;
  z-index: 10;
  padding: 5px 10px;
  border: 1px solid #aaa;
  border-radius: 10px;
  background-color: rgb(255, 255, 235);
  box-shadow: inset 0 0 20px 0 #E3DFC5;
  cursor: default;
}
#toc .book .chapters span {
  display: block;
  float: left;
  width: 20px;
  text-align: right;
  margin-right: 8px;
  font: 14px/26px 'Times New Roman', serif;
  cursor: pointer;
}
#toc .book .chapters span:hover {
  text-decoration: underline;
  cursor: pointer;
}
#toc .book .chapters br {
  clear: left;
}
