
#book {
  width: 100%;
  /* height = window.innerHeight (in JS) */
  position: fixed;
  overflow-y: scroll;
}

#book .verses {
  padding-top: 1px;
  width: 350px;
  margin-left: 570px;
  margin-bottom: 50px;
}

#book h1, #book h2, #book h3, #book h4, #book h5 {
  text-align: center;
}
#book h1 span, #book h2 span, #book h3 span, #book h4 span, #book h5 span {
  display: block;
  font-weight: normal;
}
#book h1      { font-size: 40px; }
#book h1 span { font-size: 20px; font-weight: normal; font-style: italic; }
#book h2      { font-size: 28px; font-weight: normal; margin: 32px 0; }
#book h2 span { font-size: 18px; }
#book h3      { font-size: 32px; }
#book h3 span { font-size: 24px; }
#book h4      { font-size: 16px; }
#book h4 span { font-size: 16px; }
#book h5      { font-size: 16px; }
#book h5 span { font-size: 16px; }

#book h3.fake {
  height: 0;
  margin: 0;
  overflow: hidden;
}
#book h3.fixed {
  position: fixed;
  top: 0;
  width: 350px;
  height: auto;
  margin: 0;
  padding: 10px 0;
  background-color: #F5F4D5;
  box-shadow: 0 10px 15px 0 #F5F4D5;
}

#book .v {
  padding: 0 10px;
  border: 1px solid #aaa;
  border-width: 0 1px;
}

#book .v.last {
  padding-bottom: 20px;
}

#book .c {
  float: left;
  margin-left: 12px;
  margin-right: 8px;
  font-size: 42px;
  line-height: 46px;
  font-weight: bold;
  font-family: 'Times New Roman', serif;
}

#book .c.single-chapter {
  display: none;
}

#book .v .n {
  float: left;
  width: 18px;
  margin-right: 8px;
  text-align: right;
  line-height: 20px;
  font-size: 13px;
  font-style: italic;
  font-family: Helvetica, sans-serif;
}

#book .c + .v .n {
  display: none;
}
#book .c.single-chapter + .v .n {
  display: block;
}
